<div class="container">

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Sentence</th>
      <th>Character</th>
      <th>House</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Create</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let quote of quotes;let i = index" [attr.data-index]="i">
      <td><span>{{quote.sentence}}</span></td>
      <td><span>{{quote.characterName}}</span></td>
      <td><span>{{quote.house}}</span></td>
      <td>
        <button [routerLink]="'/edit'" class="btn btn-primary" routerLink="form">
          <i class="fa fa-edit"></i>Edit</button>
      </td>
      <td>
        <button (click)="delete(i)" class="btn btn-primary">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
      <td>
        <button [routerLink]="'/create'" class="btn btn-primary" routerLink="form">
          <i class="fa fa-edit"></i>Create</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>
