<div class="container">

    <form #form="ngForm" (submit)="edit()" autocomplete="off">
      <div class="form-wor">
        <div class="form-group">
          <label>ID</label>
          <input name="Name" #idvalue="ngModel" [(ngModel)]="id" class="form-control" required>
          <div class="validation-error" *ngIf="idvalue.invalid && idvalue.touched">This field is required.</div>
        </div>
        <div class="form-group">
          <label>Sentence</label>
          <input name="Name" #Anime="ngModel" [(ngModel)]="adat.sentence" class="form-control" required>
          <div class="validation-error" *ngIf="Anime.invalid && Anime.touched">This field is required.</div>
        </div>
        <div class="form-group">
          <label>Character</label>
          <input name="URL" #Character="ngModel" [(ngModel)]="adat.characterName" class="form-control" required>
          <div class="validation-error"  *ngIf="Character.invalid && Character.touched">This field is required.</div>
        </div>
        <div class="form-group">
          <label>House</label>
          <input name="URL" #Quote="ngModel" [(ngModel)]="adat.house" class="form-control" required>
          <div class="validation-error"  *ngIf="Quote.invalid && Quote.touched">This field is required.</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <div>
      <button [routerLink]="'/quote'" class="btn btn-primary">
        <i class="fa fa-edit"></i>Back</button>
    </div>



  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Sentence</th>
      <th>Character</th>
      <th>House</th>
      <th>Id</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let quote of quotes;let i = index" [attr.data-index]="i">
      <td><span>{{quote.sentence}}</span></td>
      <td><span>{{quote.characterName}}</span></td>
      <td><span>{{quote.house}}</span></td>
      <td><span>{{i}}</span></td>

    </tr>
    </tbody>
  </table>
</div>
